<div class="row">
  <h1>Create New Action</h1>

  <%= form_for [:admin, @action] do |f| %>
    <div class="col s12">
      <%= f.label :description %><br>
      <%= f.text_area :description %><br>
    </div>
    <div class="col s12">
    <%= f.submit "Create action", class:"btn right" %>
    </div>
  <% end %>
</div>
