<div class="row">
  <h1>All Users</h1>

  <div class="col s12">
    <div id="admin-users">
      <ul>
        <% @users.each do |user| %>
          <div class="col s12">
            <div class="col s4"><%= user.email %></div>
            <div class="col s3"><%= user.name %></div>
            <div class="col s3"><img src='<%= user.image %>' /></div>
            <div class="col s1"><%= user.role %></div>
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
